<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>{{ title }}</title>
    </head>
    <body>
        <nav class='navbar navbar-expand-sm bg-dark navbar-dark'>
            <a class='navbar-brand' href='#'>
                <img src='./images/logoEuro.jpg' style='width:100px;'>
            </a>
            <ul class='navbar-nav'>
                <li class='nav-item active'>
                    <a class='nav-link' href='#'>cửa Upcv</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='#'>Cửa nhôm</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='#'>Cửa vách nhôm kính lớn</a>
                </li>
            </ul>
        </nav>

        <div id='section1' class='alert alert-primary' role='alert'>
            <div class='row'>
                <div class='col-2'></div>
                <div class='col-8'>
                    <div class='row'>
                        <div class='col-6'>
                            <p class='lead'>
                                Giới thiệu Eurowindow
                            </p>
                            <p class='lead'>
                                Được thành lập ngày 29 tháng 8 năm 2002, đến nay Công ty cổ phần Eurowindow đã khẳng
                                định vị thế nhà cung cấp tổng thể về cửa hàng đầu Việt Nam với các dòng sản phẩm đa dạng
                                như cửa nhựa uPVC, cửa nhôm và hệ vách nhôm kính lớn, cửa gỗ, cửa gỗ chống cháy, sàn
                                gỗ, cửa nhôm gỗ, cửa cuốn, cửa tự động, các sản phẩm kính và đồ gỗ nội thất.

                                Eurowindow có 5 nhà máy sản xuất và 2 trung tâm kính lớn hiện đại tại Hà Nội, Đà Nẵng
                                và Bình Dương sẽ đáp ứng tiến độ sản xuất một cách nhanh chóng. Các nhà máy của
                                Eurowindow đều được trang bị dây chuyền sản xuất tiên tiến, đồng bộ nhập khẩu từ các nhà
                                cung cấp hàng đầu của CHLB Đức, Italy, Phần Lan và Tây Ban Nha.
                            </p>
                        </div>
                        <div class='col-6'>
                            <div id='myCarousel' class='carousel slide' data-ride='carousel'>
                                <ol class='carousel-indicators'>
                                    <li data-target='#myCarousel' data-slide-to='0' class='active'></li>
                                    <li data-target='#myCarousel' data-slide-to='1' class=''></li>
                                    <li data-target='#myCarousel' data-slide-to='2' class=''></li>
                                </ol>
                                <div class='carousel-inner fixHeight'>
                                    <div class='carousel-item active'>
                                        <img class='first-slide ' src='./images/dichVu.jpg' alt='First slide'>
                                    </div>
                                    <div class='carousel-item fixHeight'>
                                        <img class='second-slide ' src='./images/dichVu1.jpg' alt='Second slide'>
                                    </div>
                                    <div class='carousel-item fixHeight'>
                                        <img class='third-slide ' src='./images/dichVu2.jpg' alt='Third slide'>
                                    </div>
                                </div>
                                <a class='carousel-control-prev' href='#myCarousel' role='button' data-slide='prev'>
                                    <span class='carousel-control-prev-icon' aria-hidden='true'></span>
                                    <span class='sr-only'>Previous</span>
                                </a>
                                <a class='carousel-control-next' href='#myCarousel' role='button' data-slide='next'>
                                    <span class='carousel-control-next-icon' aria-hidden='true'></span>
                                    <span class='sr-only'>Next</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class='col-2'></div>
        </div>
        <hr>
        <div class='container'>
            <div id='section2'>

                <div class='row'>
                    <div class='col-lg-4'>
                        <img class='rounded-circle' src='./images/CuaNhuaUpvc.jpg' alt='Generic placeholder image'
                             width='140'
                             height='140'>
                        <h2>Cua nhua Upvc</h2>
                        <p>Thong tin co ban cua cua nhua upvc</p>
                        <p><a class='btn btn-secondary' href='#' role='button'>View details »</a></p>
                    </div>
                    <div class='col-lg-4'>
                        <img class='rounded-circle' src='./images/nhom2_1.jpg' alt='Generic placeholder image'
                             width='140'
                             height='140'>
                        <h2>Cua nhom</h2>
                        <p>Thong tin co ban cua cua nhom</p>
                        <p><a class='btn btn-secondary' href='#' role='button'>View details »</a></p>
                    </div>
                    <div class='col-lg-4'>
                        <img class='rounded-circle' src='./images/CuaGo.jpg' alt='Generic placeholder image' width='140'
                             height='140'>
                        <h2>Cua Go</h2>
                        <p>Thong tin co ban cua cua go</p>
                        <p><a class='btn btn-secondary' href='#' role='button'>View details »</a></p>
                    </div>
                    <hr>
                    <div class='row featurette'>
                        <div class='col-md-7 order-md-2'>
                            <h2 class='featurette-heading'>First featurette heading. <span class='text-muted'>It'll blow your mind.</span>
                            </h2>
                            <p class='lead'>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
                                porta
                                felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                                Fusce
                                dapibus, tellus ac cursus commodo.</p>
                        </div>
                        <div class='col-md-5 order-md-1'>
                            <img class='featurette-image img-fluid mx-auto' data-src='holder.js/500x500/auto'
                                 alt='500x500'
                                 style='width: 500px; height: 500px;'
                                 src='./images/anhShowRoom.jpg'
                                 data-holder-rendered='true'>
                        </div>
                    </div>
                    <div class='row container'>
                        <form class='card'>
                            <div class='card-body row'>
                                <div class='col-4'>
                                    <p>Liên hệ</p>
                                    <p>Quý khách có thể liên hệ với chúng tôi từ website này bằng cách điền đầy đủ thông
                                        tin, chúng tôi sẽ liên lạc với Quý khách sớm nhất!</p>
                                </div>
                                <div class='col-8'>
                                    <div class='form-row'>
                                        <div class='form-group col-md-4'>
                                            <label for='inputHoTen' class='col-form-label'>Ho va ten</label>
                                            <input type='email' class='form-control' id='inputHoTen'
                                                   placeholder='Ho va ten'>
                                        </div>
                                        <div class='form-group col-md-4'>
                                            <label for='inputEmail' class='col-form-label'>Email</label>
                                            <input type='password' class='form-control' id='inputEmail'
                                                   placeholder='Email'>
                                        </div>
                                        <div class='form-group col-md-4'>
                                            <label for='inputPhone' class='col-form-label'>Phone</label>
                                            <input type='password' class='form-control' id='inputPhone'
                                                   placeholder='Phone'>
                                        </div>
                                    </div>

                                    <div class='form-row'>
                                        <div class='form-group col-md-8'>
                                            <label for='inputAddress2' class='col-form-label'>Address 2</label>
                                            <input type='text' class='form-control' id='inputAddress2'
                                                   placeholder='Apartment, studio, or floor'>
                                        </div>
                                        <div class='form-group col-md-4'>
                                            <label for='inputState' class='col-form-label'>State</label>
                                            <select id='inputState' class='form-control'>
                                                <option>California</option>
                                                <option>New Mexico</option>
                                                <option>New York</option>
                                                <option>Texas</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class='form-row'>
                                        <div class='form-group col-md-12'>
                                            <label for='inputCity' class='col-form-label'>Noi dung</label>
                                            <textarea class='form-control' id='inputCity'></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <footer class='card-footer text-right'>
                                <button class='btn btn-secondary' type='reset'>Cancel</button>
                                <button class='btn btn-primary' type='submit'>Submit</button>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div id='section4' class='container-fluid bg-secondary' style='padding-top:50px;padding-bottom:50px'>
            <div class='row'>
                <div class='col-3'>
                    <img src='./images/logoEuro.jpg' style='width:100px;'>
                </div>
                <div class='col-6'>
                    <p>Công ty Cổ phần Eurowindow</p>
                    <p>Trụ sở: Tòa nhà văn phòng Eurowindow Office Building, Số 02 Tôn Thất Tùng, Đống Đa, Hà Nội</p>
                    <p>Điện thoại: (84 - 24) 37 47 47 00 \ Email: infoew@eurowindow.biz</p>
                    <p>Bản quyền website thuộc về Eurowindow . Copyright © 2002-2017 www.eurowindow.biz</p>
                </div>
                <div class='col-3'>
                    <p>
                        Công ty Cổ phần EurowindowCông ty Cổ phần EurowindowCông ty Cổ phần EurowindowCông ty Cổ phần
                        EurowindowCông ty Cổ phần EurowindowCông ty Cổ phần EurowindowCông ty Cổ phần Eurowindow
                    </p>
                </div>

            </div>
        </div>
        <div class='icon-bar'>
            <div class='card'>
                <strong>Lien He Hotline</strong>
            </div>
            <div class='card-body bg-primary'>
                    <p>User: somebody</p>
                    <p>Sdt: con lau moi ns deo ai cho </p>
                    <div class="media-body text-truncate">
                        <h6>Maryam Amiri</h6>
                        <small>
                            <span>maryam.amiri@gmail.com</span>
                            <span class="divider-dash">(123) 456-7980</span>
                        </small>
                    </div>
            </div>
        </div>
    </body>

    <!-- Latest compiled and minified CSS -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css'>
    <!------fix css---->
    <link rel='stylesheet' href='./stylesheets/index.css'>

    <!-- jQuery library -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

    <!-- Popper JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js'></script>

    <!-- Latest compiled JavaScript -->
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js'></script>
</html>
